<div class="pricing-header px-5 py-3 pt-md-5 pb-md-4 mx-auto text-center">
   <h1 class="display-4">About</h1>
   <p class="lead">description for about page.</p>
   <nav class="nav-justified">
	  <div class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">OSO</a>
	    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">BSU</a>
	    
	  </div>
	</nav>

	<div class="tab-content" id="nav-tabContent">
	  <div class="tab-pane fade show active p-4" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">OSO</div>
	  <div class="tab-pane fade p-4" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">BSU</div>
	</div>

</div>