<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <div class="img-raise">
            <img src="../assets/osomedia/logo/osologo.png"/>
        </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        BulSU OSO
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="user">
        <div class="photo">
            <img src="../assets/img/default-avatar.png"/>
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    Joseph Roy Celestino
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-normal">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-normal">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="now-ui-icons {{menuItem.icon}}"></i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
