<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="now-ui-icons business_badge"></i>
                  </div>
                  <h3 class="info-title">{{studOrgs}}</h3>
                  <h6 class="stats-title">Organizations</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="now-ui-icons files_single-copy-04"></i>
                  </div>
                  <h3 class="info-title">{{newsArticles}}</h3>
                  <h6 class="stats-title">News Post</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="now-ui-icons users_single-02"></i>
                  </div>
                  <h3 class="info-title">562</h3>
                  <h6 class="stats-title">Customers</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 text-center">
      <div class="card card-calendar">
        <div class="card-body">
          <div id="fullCalendar"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline timeline-simple">
            <li class="timeline-inverted">
              <div class="timeline-badge danger">
                <i class="now-ui-icons objects_planet"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-danger">Some Title</span>
                </div>
                <div class="timeline-body">
                  <p>Iusto esse leo quis Missae'a Sed nibh usus. Ac bellicum ea augue ea dapibus. Saepe per dui potens ea mitius
                    Ea nisl mus hic iste hic “status” class !!! Ut quo a est etiam sit gloriose ... Quo sancta pede Parum
                    Eros in cum Nibh Est Magnae antiquo @ Optandum eos modi te germania.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge success">
                <i class="now-ui-icons shopping_tag-content"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-success">Another One</span>
                </div>
                <div class="timeline-body">
                  <p>Porro Per hic vel maximum in ex nisi quo orci patiens. A sunt contra ut etiam est nisl il’a est dicit mazim
                    in me modurn 0 sit te cunabulis!!! A quia hac Nulla mus fuga me erosem cum tandem sunt et materias A
                    me iure donec te facer in augue in nisl Est sed mi nisi li....</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info">
                <i class="now-ui-icons shopping_delivery-fast"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-info">Another Title</span>
                </div>
                <div class="timeline-body">
                  <p>Dulcis A Eius est Vel Porro Iure’a sit li per Parum Per A fuga nec lius Saepe risus Eorum Rudera laoreet
                    @ Reiponde rem enim et regnante AD 26:unDE</p>
                  <p>Iure ti Purus quod a pede sequi Porro Massam magna'i unde a Omnis quod sed est est Mirum nemo eaque at
                    eu consilio porta te contrarii ac sem Et quas’t sed Renovo Leo ad qui sequi Earum</p>
                  <hr>
                </div>
                <div class="timeline-footer">
                  <div class="dropdown">
                    <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                      <i class="now-ui-icons design_bullet-list-67"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
