<div class="page-header page-header-small">
  <div class="page-header-image" style="background-image: url('../assets/img/header1.png');">
  </div>
  <div class="container">
    <div class="content-center">
      <!-- <h1 class="title">Downloads</h1> -->
    </div>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Downloads</li>
  </ol>
</nav>
<div class="section section-nucleo-icons" *ngIf="!validated">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12"> 
        <h2 class="title animated rollIn">OSO Forms</h2>
        <h5 class="description">
          Hello there user! For now, OSO Forms are only available to students of BulSU. Confirm your identity then proceed to downloading the forms! Happy Downloading BulSUans!
        </h5>
        <!-- <div class="nucleo-container">
<img src="assets/img/nucleo.svg" alt="">
</div> -->
        <button type="button" data-toggle="modal" data-target="#myModal" name="button" class="btn btn-primary animated tada" *ngIf="!validated"
          (click)="studentValidation()">
          <i class="now-ui-icons ui-1_check"></i>&nbsp;&nbsp;I am a BULSUAN!</button>
        <a href="https://bulsu.edu.ph/downloads/" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">I want to download BulSU Forms</a>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="icons-container">
          <i class="now-ui-icons ui-1_send"></i>
          <i class="now-ui-icons ui-2_like animated infinite flipOutY"></i>
          <i class="now-ui-icons transportation_air-baloon"></i>
          <i class="now-ui-icons text_bold"></i>
          <i class="now-ui-icons tech_headphones animated infinite flipInY"></i>
          <i class="now-ui-icons emoticons_satisfied"></i>
          <i class="now-ui-icons shopping_cart-simple"></i>
          <i class="now-ui-icons objects_spaceship animated infinite flipOutY"></i>
          <i class="now-ui-icons media-2_note-03"></i>
          <i class="now-ui-icons ui-2_favourite-28"></i>
          <i class="now-ui-icons design_palette animated infinite flipInY"></i>
          <i class="now-ui-icons clothes_tie-bow"></i>
          <i class="now-ui-icons location_pin animated infinite flipOutY"></i>
          <i class="now-ui-icons objects_key-25"></i>
          <i class="now-ui-icons travel_istanbul animated infinite flipInY"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Hello BulSUAN!</h4>
      </div>
      <div class="modal-body">
        <div class="row show-hide-message" *ngIf="message && validStudent">
          <div [ngClass]="messageClass">
            {{ message }}
          </div>
        </div>
        <form [formGroup]="form" name="studentForm" (submit)="onFormSubmit()" *ngIf="validStudent">
          <div class="form-group">
            <label for="formGroupExampleInput">Student Number</label>
            <div [ngClass]="{'has-success': form.controls.studnum.valid, 'has-error': form.controls.studnum.dirty && form.controls.studnum.errors }">
              <input type="text" name="studnum" class="form-control" autocomplete="off" placeholder="Enter your 10 digit Student Number"
                formControlName="studnum" />
              <ul class="form-text">
                <li *ngIf="form.controls.studnum.dirty && form.controls.studnum.errors?.required">This field is required.</li>
                <li *ngIf="(form.controls.studnum.dirty && form.controls.studnum.errors?.minlength) || (form.controls.studnum.dirty && form.controls.studnum.errors?.maxlength)">Length must be 10 digits only</li>
                <li *ngIf="form.controls.studnum.dirty && form.controls.studnum.errors?.numericValidator">This must contain all numbers.</li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2">Student Name</label>
            <div [ngClass]="{'has-success': form.controls.studname.valid, 'has-error': form.controls.studname.dirty && form.controls.studname.errors }">
              <input type="text" name="studname" class="form-control" placeholder="Ex.) Juana D. Dela Cruz" autocomplete="off" formControlName="studname">
            </div>
          </div>
          <div div class="modal-footer">
            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary btn-lg" value="Yes I am!">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div class="container" *ngIf="validated">
  <div class="row pt-5">
    <div class="col-sm-8">
      <div class="tab-content" id="v-pills-tabContent">
        <!-- EB Application Form -->
        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
            <div class="row">
              <div class="col-sm"  *ngFor="let eb of ebforms">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{ eb.form_thumb }}" alt="PDF Thumbnail">
                  <div class="card-body">
                    <h5 class="card-title">{{ eb.form_name }}</h5>
                  </div>  
                  <div class="card-footer"><a href="{{ eb.form_link }}"  target="_blank" class="btn btn-primary">Download</a>
                  </div>
              </div>
              </div>
            </div>
        </div><!-- EB Application Form -->
        <!-- For Renewal -->
        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
          <div class="row">
            <div class="col-sm"  *ngFor="let renewal of renewalforms">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ renewal.form_thumb }}" alt="PDF Thumbnail">
                <div class="card-body">
                  <h5 class="card-title">{{ renewal.form_name }}</h5>
                </div> 
                <div class="card-footer"><a href="{{ renewal.form_link }}"  target="_blank" class="btn btn-primary">Download</a>
                </div>
            </div>
            </div>
          </div>
        </div><!-- For Renewal -->
        <!-- RER -->
        <div class="tab-pane fade" id="v-pills-3" role="tabpanel"  target="_blank" aria-labelledby="v-pills-3-tab">
          <div class="row">
            <div class="col-sm"  *ngFor="let rer of rerforms">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ rer.form_thumb }}" alt="PDF Thumbnail">
                <div class="card-body">
                  <h5 class="card-title">{{ rer.form_name }}</h5>
                </div> 
                <div class="card-footer"><a href="{{ rer.form_link }}"  target="_blank" class="btn btn-primary">Download</a>
                </div>
            </div>
            </div>
          </div>
        </div> <!-- RER -->

        <!-- Sample Letters -->
        <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
          <div class="row">
            <div class="col-sm"  *ngFor="let samp of sampforms">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ samp.form_thumb }}" alt="PDF Thumbnail">
                <div class="card-body">
                  <h5 class="card-title">{{ samp.form_name }}</h5>
                </div> 
                <div class="card-footer"><a href="{{ samp.form_link }}"  target="_blank" class="btn btn-primary">Download</a>
                </div>
            </div>
            </div>
          </div>
        </div><!-- Sample Letters -->

        <!-- Compliance Checklist -->
        <div class="tab-pane fade" id="v-pills-5" role="tabpanel"  target="_blank" aria-labelledby="v-pills-5-tab">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="a-tab" data-toggle="tab" href="#a" role="tab" aria-controls="a" aria-selected="true" (click)="getallOUForms()">Outside University</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="b-tab" data-toggle="tab" href="#b" role="tab" aria-controls="b" aria-selected="false" (click)="getallSCForms()">Satelite Campus-Compliance Checklist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="c-tab" data-toggle="tab" href="#c" role="tab" aria-controls="c" aria-selected="false" (click)="getallWUForms()">Within University</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!-- Outside University -->
            <div class="tab-pane fade show active" id="a" role="tabpanel" aria-labelledby="a-tab">
              <div class="row">
                <div class="col-sm"  *ngFor="let ou of ouforms">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ ou.form_thumb }}" alt="PDF Thumbnail">
                    <div class="card-body">
                      <h5 class="card-title">{{ ou.form_name }}</h5>
                    </div> 
                    <div class="card-footer"><a href="{{ ou.form_link }}"  target="_blank" class="btn btn-primary">Download</a>
                    </div>
                </div>
                </div>
              </div>
            </div>  <!-- Outside University -->
            <!-- Satellite Campus-Compliance Checklist -->
            <div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="b-tab">
              <div class="row">
                <div class="col-sm"  *ngFor="let sc of scforms">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ sc.form_thumb }}" alt="PDF Thumbnail">
                    <div class="card-body">
                      <h5 class="card-title">{{ sc.form_name }}</h5>
                    </div> 
                    <div class="card-footer"><a href="{{ sc.form_link }}"  target="_blank" class="btn btn-primary">Download</a>
                    </div>
                </div>
                </div>
              </div>
            </div><!-- Satellite Campus-Compliance Checklist -->

            <!-- Within University -->
            <div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="c-tab">
              <div class="row">
                <div class="col-sm"  *ngFor="let wu of wuforms">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ wu.form_thumb }}" alt="PDF Thumbnail">
                    <div class="card-body">
                      <h5 class="card-title">{{ wu.form_name }}</h5>
                    </div> 
                    <div class="card-footer"><a href="{{ wu.form_link }}"  target="_blank" class="btn btn-primary">Download</a>
                    </div>
                </div>
                </div>
              </div>
            </div><!-- Within University -->
          </div>
        </div><!-- Compliance Checklist -->
      </div>
    </div>
    <div class="col-sm-4">
      <span class="border-bottom">
        <h2>Categories</h2>
      </span>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true" (click)="getallEBForms()">EB Application Form</a>
        <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false" (click)="getallRenewalForms()">For Renewal</a>
        
        <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false" (click)="getallRERForms()">RER</a>
        <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false" (click)="getallSampleLettersForms()">Sample Letters</a>
        <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false" (click)="getallOUForms()">Compliance Checklist</a>
      </div>
    </div>
  </div>
</div>x`
