<div class="page-header page-header-small">
  <div class="page-header-image" style="background-image: url('../assets/img/header1.png');">
  </div>
  <div class="container">
    <div class="content-center">
      <!-- <h1 class="title">Downloads</h1> -->
    </div>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Downloads</li>
  </ol>
</nav>
<div class="section section-nucleo-icons" *ngIf="!validated">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12"> 
        <h2 class="title animated rollIn">OSO Forms</h2>
        <h5 class="description">
          Hello there user! For now, OSO Forms are only available to students of BulSU. Confirm your identity then proceed to downloading the forms! Happy Downloading BulSUans!
        </h5>
        <!-- <div class="nucleo-container">
<img src="assets/img/nucleo.svg" alt="">
</div> -->
        <button type="button" data-toggle="modal" data-target="#myModal" name="button" class="btn btn-primary animated infinite tada" *ngIf="!validated"
          (click)="studentValidation()">
          <i class="now-ui-icons ui-1_check"></i>&nbsp;&nbsp;I am a BULSUAN!</button>
        <a href="https://bulsu.edu.ph/downloads/" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">I want to download BulSU Forms</a>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="icons-container">
          <i class="now-ui-icons ui-1_send"></i>
          <i class="now-ui-icons ui-2_like"></i>
          <i class="now-ui-icons transportation_air-baloon"></i>
          <i class="now-ui-icons text_bold"></i>
          <i class="now-ui-icons tech_headphones"></i>
          <i class="now-ui-icons emoticons_satisfied"></i>
          <i class="now-ui-icons shopping_cart-simple"></i>
          <i class="now-ui-icons objects_spaceship"></i>
          <i class="now-ui-icons media-2_note-03"></i>
          <i class="now-ui-icons ui-2_favourite-28"></i>
          <i class="now-ui-icons design_palette"></i>
          <i class="now-ui-icons clothes_tie-bow"></i>
          <i class="now-ui-icons location_pin"></i>
          <i class="now-ui-icons objects_key-25"></i>
          <i class="now-ui-icons travel_istanbul"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Hello BulSUAN!</h4>
      </div>
      <div class="modal-body">
        <div class="row show-hide-message" *ngIf="message && validStudent">
          <div [ngClass]="messageClass">
            {{ message }}
          </div>
        </div>
        <form [formGroup]="form" name="studentForm" (submit)="onFormSubmit()" *ngIf="validStudent">
          <div class="form-group">
            <label for="formGroupExampleInput">Student Number</label>
            <div [ngClass]="{'has-success': form.controls.studnum.valid, 'has-error': form.controls.studnum.dirty && form.controls.studnum.errors }">
              <input type="text" name="studnum" class="form-control" autocomplete="off" placeholder="Enter your 10 digit Student Number"
                formControlName="studnum" />
              <ul class="form-text">
                <li *ngIf="form.controls.studnum.dirty && form.controls.studnum.errors?.required">This field is required.</li>
                <li *ngIf="(form.controls.studnum.dirty && form.controls.studnum.errors?.minlength) || (form.controls.studnum.dirty && form.controls.studnum.errors?.maxlength)">Length must be 10 digits only</li>
                <li *ngIf="form.controls.studnum.dirty && form.controls.studnum.errors?.numericValidator">This must contain all numbers.</li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2">Student Name</label>
            <div [ngClass]="{'has-success': form.controls.studname.valid, 'has-error': form.controls.studname.dirty && form.controls.studname.errors }">
              <input type="text" name="studname" class="form-control" placeholder="Ex.) Juana D. Dela Cruz" autocomplete="off" formControlName="studname">
            </div>
          </div>
          <div div class="modal-footer">
            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary btn-lg" value="Yes I am!">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div class="container" *ngIf="validated">
  <div class="row pt-5">
    <div class="col-sm-8">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Executive Board Application Form</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/EB Application Form/ebf1.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Executive Board Job Description and Function</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/EB Application Form/ebf2.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
          <!-- card -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">STUDENT ORGANIZATION RECOGNITION
              </h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf1.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <!-- end card -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">List of Officers</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf2.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Officer's Profile</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf3.pdf" target="_blank"  class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Adviser's Personal Information</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf4.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Membership Form</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf5.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Accomplishment Report</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf6.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Membership List</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf7.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Membership List</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf8.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Activity Proposal Form</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf9.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Financial Report</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf10.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Acceptance Letter of Organization's Adivser</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf11.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Letter of Intent for New Organization</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/For Renewal/renewf12.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="v-pills-3" role="tabpanel"  target="_blank" aria-labelledby="v-pills-3-tab">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reimbursement Expense Receipt</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/RER/RER.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reimbursement Expenses Receipt Samples</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/RER/Sample RER.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>

        </div>


        <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sample Letter Intent for New Organization</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/Sample Letters/main.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sample Letters Intent for the Activity Outside the University</h5>
              <p class="card-text">Description...</p>
              <a href="../assets/Forms/Sample Letters/other.pdf"  target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="v-pills-5" role="tabpanel"  target="_blank" aria-labelledby="v-pills-5-tab">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="a-tab" data-toggle="tab" href="#a" role="tab" aria-controls="a" aria-selected="true">Outside University</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="b-tab" data-toggle="tab" href="#b" role="tab" aria-controls="b" aria-selected="false">Satelite Campus-Compliance Checklist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="c-tab" data-toggle="tab" href="#c" role="tab" aria-controls="c" aria-selected="false">Within University</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="a" role="tabpanel" aria-labelledby="a-tab">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Activity Proposal Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/OUTSIDE UNIVERSITY/02F1 activity proposal form.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Adviser/Faculty Companion Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/OUTSIDE UNIVERSITY/02F2  adviser companion form_001.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Certification from the Dean / Adviser</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/OUTSIDE UNIVERSITY/02F3-4 dean and advise certification_1.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Parental Consent Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/OUTSIDE UNIVERSITY/02F5 parental consent form_001.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">List of Participants</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/OUTSIDE UNIVERSITY/02F6 List of Participants_1.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Checklist for Requirements for Extramural Activities of Student Organizations</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/OUTSIDE UNIVERSITY/BulSU-OP-OSD-01F1.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>


            </div>


            <div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="b-tab">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Activity Proposal Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/satellite campus- compliance checklist/02F1 activity proposal form (1).pdf"  target="_blank"
                    class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Adviser/Faculty Companion Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/satellite campus- compliance checklist/02F2  adviser companion form_001 (1).pdf"  target="_blank"
                    class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Certification from the Dean/Adviser</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/satellite campus- compliance checklist/02F3-4 dean and advise certification_2.pdf"  target="_blank"
                    class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Parental Consent Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/satellite campus- compliance checklist/02F5 parental consent form_001 (1).pdf"  target="_blank"
                    class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">List of Participants</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/satellite campus- compliance checklist/02F6 List of Participants_2.pdf"  target="_blank"
                    class="btn btn-primary">Download</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Checklist of Requirements for Extramural Activities of Student Organizations (Satellite Campuses)</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/satellite campus- compliance checklist/BulSU-OP-OSD-01F5.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>


            </div>
            <div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="c-tab">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Activity Proposal Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/WITHIN UNIVERSITY/02F1 activity proposal form (2).pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Adviser/Faculty Companion Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/WITHIN UNIVERSITY/02F2  adviser companion form_001 (2).pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Parental Consent Form</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/WITHIN UNIVERSITY/02F5 parental consent form.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">List of Participants</h5>
                  <p class="card-text">Description...</p>
                  <a href="../assets/Forms/Templates-Compliance Checklist/WITHIN UNIVERSITY/02F6 List of Participants_3.pdf"  target="_blank" class="btn btn-primary">Download</a>
                </div>
              </div>


            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-sm-4">
      <span class="border-bottom">
        <h2>Categories</h2>
      </span>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">EB Application Form</a>
        <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">For Renewal</a>
        
        <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">RER</a>
        <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Sample Letters</a>
        <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Compliance Checklist</a>
      </div>
    </div>
  </div>
</div>x`
