<div class="pricing-header m-5 mx-auto text-center">
<h1 class="display-4">Downloadable Forms</h1>
   <p class="lead">description for about page.</p>
<div class="row m-4">
    <div class="col-3 text-left border-right">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	  <a class="nav-link active" id="v-pills-tab1-tab" data-toggle="pill" href="#v-pills-tab1" role="tab" aria-controls="v-pills-tab1" aria-selected="true">EB Application Form</a>
	  <a class="nav-link" id="v-pills-tab2-tab" data-toggle="pill" href="#v-pills-tab2" role="tab" aria-controls="v-pills-tab2" aria-selected="false">For Renewal</a>
	  <a class="nav-link" id="v-pills-tab3-tab" data-toggle="pill" href="#v-pills-tab3" role="tab" aria-controls="v-pills-tab3" aria-selected="false">OSO Searches</a>
	  <a class="nav-link" id="v-pills-tab4-tab" data-toggle="pill" href="#v-pills-tab4" role="tab" aria-controls="v-pills-tab4" aria-selected="false">Reimbursement Expense Receipt
</a>
	  <a class="nav-link" id="v-pills-tab5-tab" data-toggle="pill" href="#v-pills-tab5" role="tab" aria-controls="v-pills-tab5" aria-selected="false">Sample Letters</a>
	  <a class="nav-link" id="v-pills-tab6-tab" data-toggle="pill" href="#v-pills-tab6" role="tab" aria-controls="v-pills-tab6" aria-selected="false"> Templates-Compliance Checklist</a>
	</div>
    </div>
    <div class="col">
      <div class="tab-content text-left" id="v-pills-tabContent">

		  <div class="tab-pane fade show active" id="v-pills-tab1" role="tabpanel" aria-labelledby="v-pills-tab1-tab">
		  	<a href="./assets/Forms/EB Application Form/ebf1.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				EB Application Form
			</a>
			<a href="./assets/Forms/EB Application Form/ebf2.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				EB Functions
			</a>
		  </div>

		  <div class="tab-pane fade" id="v-pills-tab2" role="tabpanel" aria-labelledby="v-pills-tab2-tab">
		  	<div class="row">
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf1.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 1
				</a>
			  </div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf3.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 3
				</a>
			  </div>
			  <div class="w-100"></div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf2.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 2
				</a>
			  </div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf4.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 4
				</a>
			  </div>
			  <div class="w-100"></div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf3.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 3
				</a>
			  </div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf11.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 11
				</a>
			  </div>
			  <div class="w-100"></div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf4.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 4
				</a>
			  </div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf4.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 4
				</a>
			  </div>
			  <div class="w-100"></div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf5.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 5
				</a>
			  </div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf8.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 8
				</a>
			  </div>
			  <div class="w-100"></div>
			  <div class="col m-3">
			  	<a href="./assets/Forms/For Renewal/renewf6.pdf">
					<img border="0" alt="W3Schools" src="../assets/pdf.png">
					Renewal Form 6
				</a>
			  </div>
			</div>
		  </div>
		  <div class="tab-pane fade" id="v-pills-tab3" role="tabpanel" aria-labelledby="v-pills-tab3-tab">
		  	<a href="./assets/Forms/OSO SEARCHES/search1.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				search
			</a>
			<a href="./assets/Forms/OSO SEARCHES/search-adviser.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				search
			</a>
			<a href="./assets/Forms/OSO SEARCHES/search-leader.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				search
			</a>

		  </div>
		  <div class="tab-pane fade" id="v-pills-tab4" role="tabpanel" aria-labelledby="v-pills-tab4-tab">
		  	<a href="./assets/Forms/RER/RER.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				Reimbursement Form 1
			</a>
			<a href="./assets/Forms/RER/Sample RER.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				Reimbursement Form 2
			</a>
		  </div>
		  <div class="tab-pane fade" id="v-pills-tab5" role="tabpanel" aria-labelledby="v-pills-tab5-tab">
		  	<a href="./assets/Forms/Sample Letters/other.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				Sample letter 1
			</a>
			<a href="./assets/Forms/Sample Letters/main.pdf">
				<img border="0" alt="W3Schools" src="../assets/pdf.png">
				Sample letter 2
			</a>
		  </div>
		  <div class="tab-pane fade" id="v-pills-tab6" role="tabpanel" aria-labelledby="v-pills-tab6-tab">
		  	
		  </div>
		  
		</div>
    </div>
  </div>
</div>
