<div class="page-header page-header-small">
  <div class="page-header-image" style="background-image: url('../assets/img/studorg1.png');"></div>
  <div class="container">
    <div class="content-center">
      <!-- <h1 class="title">Student Organizations</h1> -->
    </div>
  </div>
</div>
<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Student Organizations</li>
		</ol>
	</nav>
  <div class="container-fluid">
			<div class="row">
					<div class="col-sm-3">
						<!-- Organizations' List -->
						<div class="sidebar-sticky">
								<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
									<span class="orange-text">UNIVERSITY WIDE</span></h6>
								<ul class="nav flex-column" id="myTab" role="tablist">

								  <li class="nav-item"><a (click)="getallAcadOrgs()" class="nav-link active" id="acad-tab" data-toggle="tab" href="#acad" role="tab" aria-controls="acad" aria-selected="true"><i class="now-ui-icons business_bank"></i> Academics</a></li>

								  <li class="nav-item"><a  (click)="getallFratOrgs()" class="nav-link" id="frat-tab" data-toggle="tab" href="#frat" role="tab" aria-controls="frat" aria-selected="true"><i class="now-ui-icons business_bank"></i> Fraternities</a></li>
								  <li class="nav-item"><a (click)="getallEnvOrgs()" class="nav-link" id="envi-tab" data-toggle="tab" href="#envi" role="tab" aria-controls="envi" aria-selected="true"><i class="now-ui-icons business_bank"></i> Environmental</a></li>

								  <li class="nav-item"><a (click)="getallLifeOrgs()" class="nav-link" id="life-tab" data-toggle="tab" href="#life" role="tab" aria-controls="life" aria-selected="true"><i class="now-ui-icons business_bank"></i> Lifestyle</a></li>
								  <li class="nav-item"><a (click)="getallPoliOrgs()" class="nav-link" id="poli-tab" data-toggle="tab" href="#poli" role="tab" aria-controls="poli" aria-selected="true"><i class="now-ui-icons business_bank" href="#"></i> Political</a></li>
								  <li class="nav-item"><a (click)="getallSocioOrgs()" class="nav-link" id="socciv-tab" data-toggle="tab" href="#socciv" role="tab" aria-controls="socciv" aria-selected="true"><i class="now-ui-icons business_bank"></i> Socio-Civic</a></li>
								  <li class="nav-item"><a (click)="getallSpiritOrgs()" class="nav-link" id="rel-tab" data-toggle="tab" href="#rel" role="tab" aria-controls="rel" aria-selected="true"><i class="now-ui-icons business_bank"></i> Spiritual and Religious</a></li>
								</ul>
								<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
								  <span class="orange-text">CAMPUS-WIDE</span></h6>
								<ul class="nav flex-column mb-2">
									<li class="nav-item"><a (click)="getallBustosOrgs()" class="nav-link" id="bustos-tab" data-toggle="tab" href="#bustos" role="tab" aria-controls="bustos" aria-selected="true"><i class="now-ui-icons business_bank"></i> Bustos</a></li>
									<li class="nav-item"><a (click)="getallHagonoyOrgs()" class="nav-link" id="hagonoy-tab" data-toggle="tab" href="#hagonoy" role="tab" aria-controls="hagonoy" aria-selected="true"><i class="now-ui-icons business_bank"></i> Hagonoy</a></li>
									<li class="nav-item"><a (click)="getallMenesesOrgs()" class="nav-link " id="meneses-tab" data-toggle="tab" href="#meneses" role="tab" aria-controls="meneses" aria-selected="true"><i class="now-ui-icons business_bank"></i> Meneses</a></li>
									<li class="nav-item"><a (click)="getallSarmientoOrgs()" class="nav-link " id="sarmiento-tab" data-toggle="tab" href="#sarmiento" role="tab" aria-controls="sarmiento" aria-selected="true"><i class="now-ui-icons business_bank"></i> Sarmiento</a></li>
								</ul>
								<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
										<span class="orange-text">MAIN CAMPUS</span></h6>
									  <ul class="nav flex-column mb-2">
										<li class="nav-item"><a (click)="getallCAFAOrgs()" class="nav-link " id="cafa-tab" data-toggle="tab" href="#cafa" role="tab" aria-controls="cafa" aria-selected="true"><i class="now-ui-icons business_bank"></i> CAFA</a></li>
										<li class="nav-item"><a (click)="getallCALOrgs()" class="nav-link " id="cal-tab" data-toggle="tab" href="#cal" role="tab" aria-controls="cal" aria-selected="true"><i class="now-ui-icons business_bank"></i> CAL</a></li>
										<li class="nav-item"><a (click)="getallCBAOrgs()" class="nav-link " id="cba-tab" data-toggle="tab" href="#cba" role="tab" aria-controls="cba" aria-selected="true"><i class="now-ui-icons business_bank"></i> CBA</a></li>
										<li class="nav-item"><a (click)="getallCCJEOrgs()" class="nav-link " id="ccje-tab" data-toggle="tab" href="#ccje" role="tab" aria-controls="ccje" aria-selected="true"><i class="now-ui-icons business_bank"></i> CCJE</a></li>
										<li class="nav-item"><a (click)="getallCOEDOrgs()" class="nav-link " id="coed-tab" data-toggle="tab" href="#coed" role="tab" aria-controls="coed" aria-selected="true"><i class="now-ui-icons business_bank"></i> COED</a></li>
										<li class="nav-item"><a (click)="getallCOEOrgs()" class="nav-link " id="coe-tab" data-toggle="tab" href="#coe" role="tab" aria-controls="coe" aria-selected="true"><i class="now-ui-icons business_bank"></i> COE</a></li>
										<li class="nav-item"><a (click)="getallCHEOrgs()" class="nav-link " id="che-tab" data-toggle="tab" href="#che" role="tab" aria-controls="che" aria-selected="true"><i class="now-ui-icons business_bank"></i> CHE</a></li>
										<li class="nav-item"><a (click)="getallCITOrgs()" class="nav-link " id="cit-tab" data-toggle="tab" href="#cit" role="tab" aria-controls="cit" aria-selected="true"><i class="now-ui-icons business_bank"></i> CIT</a></li>
										<li class="nav-item"><a (click)="getallCICTOrgs()" class="nav-link " id="cict-tab" data-toggle="tab" href="#cict" role="tab" aria-controls="cict" aria-selected="true"><i class="now-ui-icons business_bank"></i> CICT</a></li>
										<li class="nav-item"><a (click)="getallCONOrgs()" class="nav-link " id="con-tab" data-toggle="tab" href="#con" role="tab" aria-controls="con" aria-selected="true"><i class="now-ui-icons business_bank"></i> CON</a></li>
										<li class="nav-item"><a (click)="getallCOPERSOrgs()" class="nav-link " id="copers-tab" data-toggle="tab" href="#copers" role="tab" aria-controls="copers" aria-selected="true"><i class="now-ui-icons business_bank"></i> COPERS</a></li>
										<li class="nav-item"><a (click)="getallCSOrgs()" class="nav-link " id="cs-tab" data-toggle="tab" href="#cs" role="tab" aria-controls="cs" aria-selected="true"><i class="now-ui-icons business_bank"></i> CS</a></li>
										<li class="nav-item"><a (click)="getallCSSPOrgs()" class="nav-link " id="cssp-tab" data-toggle="tab" href="#cssp" role="tab" aria-controls="cssp" aria-selected="true"><i class="now-ui-icons business_bank"></i> CSSP</a></li>
									  </ul>
							  </div>
					</div>
					<div class="col-sm-9">
							<nav class="navbar navbar-expand-lg bg-info">
									<div class="container">
										<a class="navbar-brand"><i class="now-ui-icons travel_info"></i>  List of recognized Student Organizations for the semester 2017-2018</a>
									</div>
								</nav>
						<div class="tab-content">
							<div class="tab-pane active"  id="acad" role="tabpanel" aria-labelledby="acad-tab">
								<div class="row">
									<div class="card-deck col-sm-4" *ngFor="let acads of acadsStudOrgs" data-aos="flip-up">
											<div class="card" style="width: 18rem;">
													<img class="card-img-top" src="{{ acads.orglogo }}" alt="Card image cap">
													<div class="card-body">
													  <h5 class="card-title">{{ acads.acronym }}</h5>
													  <p class="card-text">{{ acads.orgname }}</p>
													  <p class="card-text">{{ acads.orgdesc }}</p>
													  <ul class="list-group list-group-flush">
															<li class="list-group-item" *ngFor="let adviser of acads.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ acads.orgpres }} </strong></li>
															<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ acads.orgemail}}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ acads.orghq}}</strong></li>
														  </ul>
													</div>
												  </div>
									</div>
								</div>
							</div>
							<div class="tab-pane"  id="frat" role="tabpanel" aria-labelledby="frat-tab">
								<div class="row">
									<div class="card-deck col-sm-4" *ngFor="let frats of fratsStudOrgs" data-aos="flip-up">
											<div class="card" style="width: 18rem;">
													<img class="card-img-top" src="{{ frats.orglogo }}" alt="Card image cap">
													<div class="card-body">
													  <h5 class="card-title">{{ frats.acronym }}</h5>
													  <p class="card-text">{{ frats.orgname }}</p>
													  <p class="card-text">{{ frats.orgdesc }}</p>
													  <ul class="list-group list-group-flush">
															<li class="list-group-item" *ngFor="let adviser of frats.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ frats.orgpres }} </strong></li>
															<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ frats.orgemail}}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ frats.orghq}}</strong></li>
														  </ul>
													</div>
												  </div>
									</div>
								</div>
							</div>
							<div class="tab-pane"  id="envi" role="tabpanel" aria-labelledby="envi-tab">
								<div class="row">
									<div class="card-deck col-sm-4" *ngFor="let env of envStudOrgs" data-aos="flip-up">
											<div class="card" style="width: 18rem;">
													<img class="card-img-top" src="{{ env.orglogo }}" alt="Card image cap">
													<div class="card-body">
													  <h5 class="card-title">{{ env.acronym }}</h5>
													  <p class="card-text">{{ env.orgname }}</p>
													  <p class="card-text">{{ env.orgdesc }}</p>
													  <ul class="list-group list-group-flush">
															<li class="list-group-item" *ngFor="let adviser of env.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ env.orgpres }} </strong></li>
															<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ env.orgemail}}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ env.orghq}}</strong></li>
														  </ul>
													</div>
												  </div>
									</div>
								</div>
							</div>
							<div class="tab-pane"  id="life" role="tabpanel" aria-labelledby="life-tab">
								<div class="row">
									<div class="card-deck col-sm-4" *ngFor="let life of lifeStudOrgs" data-aos="flip-up">
											<div class="card" style="width: 18rem;">
													<img class="card-img-top" src="{{ life.orglogo }}" alt="Card image cap">
													<div class="card-body">
													  <h5 class="card-title">{{ life.acronym }}</h5>
													  <p class="card-text">{{ life.orgname }}</p>
													  <p class="card-text">{{ life.orgdesc }}</p>
													  <ul class="list-group list-group-flush">
															<li class="list-group-item" *ngFor="let adviser of life.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ life.orgpres }} </strong></li>
															<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ life.orgemail}}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ life.orghq}}</strong></li>
														  </ul>
													</div>
												  </div>
									</div>
								</div>
							</div>
							<div class="tab-pane"  id="poli" role="tabpanel" aria-labelledby="poli-tab">
								<div class="row">
									<div class="card-deck col-sm-4" *ngFor="let poli of poliStudOrgs" data-aos="flip-up">
											<div class="card" style="width: 18rem;">
													<img class="card-img-top" src="{{ poli.orglogo }}" alt="Card image cap">
													<div class="card-body">
													  <h5 class="card-title">{{ poli.acronym }}</h5>
													  <p class="card-text">{{ poli.orgname }}</p>
													  <p class="card-text">{{ poli.orgdesc }}</p>
													  <ul class="list-group list-group-flush">
															<li class="list-group-item" *ngFor="let adviser of poli.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ poli.orgpres }} </strong></li>
															<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ poli.orgemail}}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ poli.orghq}}</strong></li>
														  </ul>
													</div>
												  </div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="socciv" role="tabpanel" aria-labelledby="socciv-tab">
								<div class="row">
									<div class="card-deck col-sm-4" *ngFor="let socciv of socioStudOrgs" data-aos="flip-up">
											<div class="card" style="width: 18rem;">
													<img class="card-img-top" src="{{ socciv.orglogo }}" alt="Card image cap">
													<div class="card-body">
													  <h5 class="card-title">{{ socciv.acronym }}</h5>
													  <p class="card-text">{{ socciv.orgname }}</p>
													  <p class="card-text">{{ socciv.orgdesc }}</p>
													  <ul class="list-group list-group-flush">
															<li class="list-group-item" *ngFor="let adviser of socciv.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ socciv.orgpres }} </strong></li>
															<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ socciv.orgemail}}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ socciv.orghq}}</strong></li>
														  </ul>
													</div>
												  </div>
									</div>
								</div>
							</div>
							<div class="tab-pane"  id="rel" role="tabpanel" aria-labelledby="rel-tab">
								<div class="row">
									<div class="card-deck col-sm-4" *ngFor="let rel of spiritStudOrgs" data-aos="flip-up">
											<div class="card" style="width: 18rem;">
													<img class="card-img-top" src="{{ rel.orglogo }}" alt="Card image cap">
													<div class="card-body">
													  <h5 class="card-title">{{ rel.acronym }}</h5>
													  <p class="card-text">{{ rel.orgname }}</p>
													  <p class="card-text">{{ rel.orgdesc }}</p>
													  <ul class="list-group list-group-flush">
															<li class="list-group-item" *ngFor="let adviser of rel.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ rel.orgpres }} </strong></li>
															<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ rel.orgemail}}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ rel.orghq}}</strong></li>
														  </ul>
													</div>
												  </div>
									</div>
								</div>
							</div>
							<div class="tab-pane"  id="bustos" role="tabpanel" aria-labelledby="bustos-tab">
								<div class="row">
									<div class="card-deck col-sm-4" *ngFor="let bc of bustosStudOrgs" data-aos="flip-up">
											<div class="card" style="width: 18rem;">
													<img class="card-img-top" src="{{ bc.orglogo }}" alt="Card image cap">
													<div class="card-body">
													  <h5 class="card-title">{{ bc.acronym }}</h5>
													  <p class="card-text">{{ bc.orgname }}</p>
													  <p class="card-text">{{ bc.orgdesc }}</p>
													  <ul class="list-group list-group-flush">
															<li class="list-group-item" *ngFor="let adviser of bc.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ bc.orgpres }} </strong></li>
															<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ bc.orgemail}}</strong></li>
															<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ bc.orghq}}</strong></li>
														  </ul>
													</div>
												  </div>
									</div>
								</div>
							</div>
							<div class="tab-pane"  id="hagonoy" role="tabpanel" aria-labelledby="hagonoy-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let hc of hagonoyStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ hc.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ hc.acronym }}</h5>
															<p class="card-text">{{ hc.orgname }}</p>
															<p class="card-text">{{ hc.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of hc.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ hc.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ hc.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ hc.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="meneses" role="tabpanel" aria-labelledby="meneses-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let mc of menesesStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ mc.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ mc.acronym }}</h5>
															<p class="card-text">{{ mc.orgname }}</p>
															<p class="card-text">{{ mc.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of mc.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ mc.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ mc.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ mc.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="sarmiento" role="tabpanel" aria-labelledby="sarmiento-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let sc of sarmientoStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ sc.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ sc.acronym }}</h5>
															<p class="card-text">{{ sc.orgname }}</p>
															<p class="card-text">{{ sc.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of sc.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ sc.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ sc.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ sc.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="cafa" role="tabpanel" aria-labelledby="cafa-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let cafa of cafaStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ cafa.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ cafa.acronym }}</h5>
															<p class="card-text">{{ cafa.orgname }}</p>
															<p class="card-text">{{ cafa.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of cafa.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ cafa.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ cafa.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ cafa.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="cal" role="tabpanel" aria-labelledby="cal-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let cal of calStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ cal.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ cal.acronym }}</h5>
															<p class="card-text">{{ cal.orgname }}</p>
															<p class="card-text">{{ cal.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of cal.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ cal.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ cal.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ cal.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="cba" role="tabpanel" aria-labelledby="cba-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let cba of cbaStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ cba.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ cba.acronym }}</h5>
															<p class="card-text">{{ cba.orgname }}</p>
															<p class="card-text">{{ cba.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of cba.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ cba.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ cba.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ cba.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="ccje" role="tabpanel" aria-labelledby="ccje-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let ccje of ccjeStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ ccje.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ ccje.acronym }}</h5>
															<p class="card-text">{{ ccje.orgname }}</p>
															<p class="card-text">{{ ccje.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of ccje.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ ccje.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ ccje.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ ccje.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="coed" role="tabpanel" aria-labelledby="coed-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let coed of coedStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ coed.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ coed.acronym }}</h5>
															<p class="card-text">{{ coed.orgname }}</p>
															<p class="card-text">{{ coed.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of coed.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ coed.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ coed.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ coed.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="coe" role="tabpanel" aria-labelledby="coe-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let coe of coeStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ coe.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ coe.acronym }}</h5>
															<p class="card-text">{{ coe.orgname }}</p>
															<p class="card-text">{{ coe.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of coe.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ coe.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ coe.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ coe.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="che" role="tabpanel" aria-labelledby="che-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let che of cheStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ che.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ che.acronym }}</h5>
															<p class="card-text">{{ che.orgname }}</p>
															<p class="card-text">{{ che.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of che.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ che.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ che.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ che.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane" id="cit" role="tabpanel" aria-labelledby="cit-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let cit of citStudOrgs"  data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ cit.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ cit.acronym }}</h5>
															<p class="card-text">{{ cit.orgname }}</p>
															<p class="card-text">{{ cit.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of cit.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ cit.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ cit.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ cit.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="cict" role="tabpanel" aria-labelledby="cict-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let cict of cictStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ cict.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ cict.acronym }}</h5>
															<p class="card-text">{{ cict.orgname }}</p>
															<p class="card-text">{{ cict.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of cict.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ cict.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ cict.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ cict.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="con" role="tabpanel" aria-labelledby="con-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let con of conStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ con.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ con.acronym }}</h5>
															<p class="card-text">{{ con.orgname }}</p>
															<p class="card-text">{{ con.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of con.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ con.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ con.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ con.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane"  id="copers" role="tabpanel" aria-labelledby="copers-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let copers of copersStudOrgs" data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ copers.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ copers.acronym }}</h5>
															<p class="card-text">{{ copers.orgname }}</p>
															<p class="card-text">{{ copers.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of copers.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ copers.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ copers.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ copers.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane" id="cs" role="tabpanel" aria-labelledby="cs-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let cs of csStudOrgs"  data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ cs.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ cs.acronym }}</h5>
															<p class="card-text">{{ cs.orgname }}</p>
															<p class="card-text">{{ cs.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of cs.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ cs.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ cs.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ cs.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
							<div class="tab-pane" id="cssp" role="tabpanel" aria-labelledby="cssp-tab">
								<div class="row">
										<div class="card-deck col-sm-4" *ngFor="let cssp of csspStudOrgs"  data-aos="flip-up">
												<div class="card" style="width: 18rem;">
														<img class="card-img-top" src="{{ cssp.orglogo }}" alt="Card image cap">
														<div class="card-body">
															<h5 class="card-title">{{ cssp.acronym }}</h5>
															<p class="card-text">{{ cssp.orgname }}</p>
															<p class="card-text">{{ cssp.orgdesc }}</p>
															<ul class="list-group list-group-flush">
																<li class="list-group-item" *ngFor="let adviser of cssp.orgadviser"><i class="now-ui-icons users_circle-08"></i><strong>{{ adviser }}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons users_single-02"></i><strong>{{ cssp.orgpres }} </strong></li>
																<li class="list-group-item"><i class="now-ui-icons ui-1_email-85"></i><strong>{{ cssp.orgemail}}</strong></li>
																<li class="list-group-item"><i class="now-ui-icons location_pin"></i><strong>{{ cssp.orghq }}</strong></li>
																</ul>
														</div>
														</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>