<div class="page-header page-header-small">
    <div class="page-header-image" style="background-image: url('../assets/osomedia/osomedia/senate_hearing.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Downloads</h1>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">OSO News</li>
    </ol>
  </nav>
  <div class="container"> 
    
<div class="card bg-light border-dark" *ngFor="let frontnews of frontNewsArticles">
    <div class="card-body">
        <!-- news title -->
        <h5 class="card-title">{{ frontnews.title }}</h5>
        <!-- news body -->
        <p class="card-text">{{ frontnews.body }}</p>
      </div>
      <!-- news footer start -->
      <div class="card-footer text-muted">
        <!-- news author -->
        <strong>Posted by: </strong>{{ frontnews.createdBy }}&nbsp;&nbsp;
        <!-- news created -->
        <strong>Date: </strong>{{ frontnews.createdAt | date: 'MMM dd, yyyy' }}
        
        <!-- Like and Dislike Button -->
        <div class="btn-group" role="group">
        </div>
      </div>
      <!-- footer end -->
      <!-- footer end -->
    <ul class="list-group">
        <br>
       <div>
        <li *ngFor="let comment of frontnews.comments" class="list-group-item">
          <strong>{{ comment.commentator }}</strong>
          {{ comment.comment }}
        </li>
       </div>
    </ul>
  </div>
  </div>